.hero {
  width: 100%;
  height: 100vh;

  .index-image-wrapper {
    height: 100vh;
  }

  img.index-image {
    height: 100vh;
    z-index: -1;
  }

  .hero-text {
    text-align: center;
  }

  .overlay {
    background: rgba(40, 9, 75, 0.4);
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
}
