.hero {
  width: 100%;
  background-position: bottom center;
  background-repeat: repeat-y;
  background-size: cover;
}

.hero-text {
  text-align: center;
}

.overlay {
  background: rgba(40, 9, 75, 0.4);
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
}
