.hero {
  background-image: url(../images/backyardsky.jpg);
  height: 100vh;
  background-size: cover;
  color: white;
}

.overlay {
  background: rgba(27, 7, 66, 0.2);
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
}
