html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background: rgb(49, 9, 87);
  color: white;
}

footer {
  font-size: 10px;
  text-align: center;
}
