$handwriting: "Just Me Again Down Here", cursive;
$slab: "Zilla Slab", serif;

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 90vh;
}
body {
  background: rgb(49, 9, 87);
  color: white;
}

footer {
  font-size: 10px;
  text-align: center;
}

.container-fluid {
  min-height: 100vh;
}

/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap");

.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Zilla Slab", serif;
}

p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.1rem;
}

.blog-title-container {
  align-self: center;
  position: absolute;
  left: 1rem;
  right: 2rem;
  max-width: 55%;
}

.blog-title {
  background-color: rgb(45, 139, 247);
  line-height: 1.5em;
  font-size: 2rem;
}

.blog-post {
  border: dashed 1px #3d3d3d;
  margin-bottom: 1rem;
}

.blog-post:hover {
  background-color: #622ca3;
  margin-left: 0;
}

.blog-date {
  position: absolute;
}

.blog-featured-img {
  width: 25rem;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .blog-title-container {
    left: 8rem;
    max-width: 55%;
  }
}

// small
@media (max-width: 767.98px) {
  .blog-title-container {
    left: 5rem;
    max-width: 55%;
  }
}

@media (min-width: 1200px) {
  .blog-title-container {
    left: 15rem;
    max-width: 55%;
  }
}
