$text-height: 50vh;

.gallery-photo-wrapper {
  position: initial !important;
  display: flex;
  overflow: hidden;
}

.nowrap-row {
  flex-flow: nowrap !important;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect.photo-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  transition: all 0.4s ease-in;
}

.hovereffect:hover {
  .hovereffect.photo-overlay {
    background-color: rgba(108, 56, 167, 0.5);
  }
}

.hovereffect:focus {
  border: #fff 2px solid;
  .hovereffect.photo-overlay {
    background-color: rgba(108, 56, 167, 0.5);
  }
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

img.photo-img {
  width: 100%;
}

.photo-layout {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-flow: wrap;
    // justify-content: space-between;
    // align-content: space-between;
  }

  li {
    list-style-type: none;
    flex-grow: 1;
  }
}

.text-row {
  img {
    height: $text-height;
  }
}

.top-row {
  order: 1;
}
.text-row {
  order: 2;
}
.gallery {
  order: 3;
}

.photo-layout {
  display: grid;
}

.photos-wrap {
  display: flex;
  flex-grow: 1;
  width: 90%;
}

.photo-nav-item {
  width: 15.625rem;
}

// small and xs
@include media-breakpoint-down(sm) {
  .text-row {
    order: 1;
    flex-wrap: wrap;
    .text-block {
      width: 100%;
    }
  }
  .top-row {
    order: 2;
  }

  .photo {
    .gallery-photo-wrapper {
      max-height: 50vh;
    }
  }
}

@include media-breakpoint-up(md) {
  .top-row {
    img {
      height: 45vh;
    }
  }

  .text-row {
    .text-block {
      width: 105vw;
    }
  }
  .gallery {
    img {
      height: 50vh;
    }
    .gallery-photo-wrapper {
      max-width: 40vw; // 2 column
    }
  }
}

@include media-breakpoint-up(lg) {
  .top-row {
    img {
      height: 45vh;
    }
  }
  .text-row {
    .text-block {
      width: 80vw;
    }
  }
  .gallery {
    img {
      height: 50vh;
    }
    .gallery-photo-wrapper {
      max-width: 33vw; // 3 column
    }
  }
}

@include media-breakpoint-up(xl) {
  .top-row {
    img {
      height: 45vh;
    }
  }
  .text-row {
    .text-block {
      width: 60vw;
    }
  }
  .gallery {
    img {
      height: 50vh;
    }
    .gallery-photo-wrapper {
      max-width: 33vw; // 3 column
    }
  }
}
