ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

ul.gallery {
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  flex-grow: 1;
  height: 40vh;
}
.photo-layout {
  display: grid;
}

@media (max-width: 768px) {
  .text-row {
    order: 1;
  }
  .top-row {
    order: 2;
  }
}

@media (min-width: 992px) {
  .top-row li {
    min-width: 20vw;
  }
  .text-row li {
    min-width: 10vw;
  }
}

.text-row li {
  height: 50vh;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.text-block {
  margin: 1rem;
  max-width: 40rem;
}

@media (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }

  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}
