$text-height: 50vh;

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  transition: all 0.4s ease-in;
}

.hovereffect:hover .overlay,
.hovereffect:focus .overlay {
  background-color: rgba(176, 130, 228, 0.3);
}

.hovereffect:focus {
  border: #fff 2px solid;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.lazy-load-image-loaded {
  display: flex !important;
}

.photo-layout {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  li {
    list-style-type: none;
    flex-grow: 1;
  }
}

.text-row {
  img {
    height: $text-height;
  }
}

.gallery {
  order: 3;
}

// need to target images themselves for height

.text-row {
  order: 2;
}
.top-row {
  order: 1;
}

.photo-layout {
  display: grid;
}

.photos-wrap {
  display: flex;
  flex-grow: 1;
  width: 90%;
}

@media (max-width: 768px) {
  .photo {
    max-width: 100%;
    width: 100%;
    height: 50vh;
    img {
      height: 50vh;
      object-position: center; /// make it a prop that can be edited in contentful
    }
  }
  .text-row {
    order: 1;
  }
  .top-row {
    order: 2;
  }
}

@media (min-width: 768px) {
  .photo {
    height: 50vh;
    // max-width: 33vw;
    // object-position: center;
    img {
      height: 50vh;
    }
  }
}

@media (min-width: 900px) {
  .text-row {
    .text-block {
      width: 50%;
    }
    .photo {
      img.photo-img {
        max-width: 20vw;
      }
    }
  }
}

@media (min-width: 1200px) {
  .top-row {
    width: 100%;
  }
  .text-row {
    .text-block {
      width: 60%;
    }
    .photo {
      img.photo-img {
        max-width: 25vw;
      }
    }
  }
}

// breakpoints for top row and width

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  img.photo-img {
    max-width: 25vw;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .top-row.photo-row {
    .photo {
      img.photo-img {
        max-width: 25vw;
      }
    }
  }

  img.photo-img {
    max-width: 35vw;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .top-row.photo-row {
    .photo {
      img.photo-img {
        max-width: 30vw;
      }
    }
  }

  img.photo-img {
    max-width: 40vw;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  // hi i am doing nothing
}

img.photo-img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  max-height: 60vh;
  max-width: 50vw;
}

.col > img {
  object-fit: cover;
}

.text-block {
  max-width: 40rem;
  word-wrap: break-word;
  overflow: auto;
  margin-left: 1.5rem;
  height: $text-height;
  padding-top: 1rem;
}

@media (max-width: 480px) {
  .photo-layout {
    ul {
      flex-direction: row;
    }

    li {
      height: auto;
      width: 100%;
    }
  }

  // img {
  //   width: 100%;
  //   max-height: 60vh;
  //   min-width: 0;
  // }
}
