.overlay-gradient {
  display: flex;
  align-items: flex-end;
  background: rgb(9, 2, 24);
  background: linear-gradient(
    0deg,
    rgba(9, 2, 24, 1) 1%,
    rgba(5, 1, 13, 0.5382528011204482) 18%,
    rgba(0, 0, 0, 0.19091386554621848) 29%,
    rgba(0, 0, 0, 0) 39%
  );
}

.album {
  border: 0px;
  max-height: 300px;
  margin-bottom: 1.5rem;
}

.photo-list-title {
  font-size: 25px;
  position: absolute;
  bottom: 0;
}

.card-img {
  object-fit: cover;
  height: 100%;
}

.hover-zoom-in {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.hover-zoom-in img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hover-zoom-in:hover img {
  transform: scale(1.2);
}
