// COLOURS

$bright-blue: rgb(45, 139, 247);
$bs-dark: #292b2c;
$background: rgb(49, 9, 87);
$background-half: rgba(49, 9, 87, 0.8);
$menu-bg-color: rgba(59, 10, 116, 0.95);
$menu-bg-color-semi: rgba(59, 10, 116, 0.5);
$menu-link-color: rgba(212, 235, 244, 1);
$hover-color: rgb(45, 139, 247);
$darkpurple: rgb(37, 6, 53);
