footer {
  padding: 1.5rem;
  background-color: $darkpurple;

  ul {
    list-style-type: none;
  }

  .footer {
    justify-content: center;
  }

  .footer-menu {
    text-align: left;
    font-size: 0.95rem;
    flex-direction: column;
  }

  .footer a {
    color: lightblue;
  }
}
