// @include media-breakpoint-down(sm) {
//   .vid-card {
//     min-height: 100vh;
//     margin-bottom: 1rem;
//   }
// }

.vid-card {
  min-height: 35vh;
  margin-bottom: 1rem;
  background-color: red;
}

.modal-title {
  color: #fff;
}

.video-title,
.video-title a {
  color: #fff;
}

.video-thumb:hover {
  .play-icon {
    color: white;
  }
  .thumb-overlay {
    background-color: rgba(176, 130, 228, 0.3);
  }
}

.modal-content {
  background-color: $bs-dark;

  .close {
    color: white;
  }

  .video-thumb-img {
    object-fit: cover;
  }
}
